/EFI/APPLE
/EFI/Microsoft
/EFI/**/*.DS_Store
/EFI/**/._*
/EFI/**/.contentFlavour
/EFI/**/.contentVisibility
/EFI/.DS_Store
/EFI/._*
/EFI/*.empty
/EFI/oldConfig.plist
/EFI/.contentFlavour
/EFI/.contentVisibility
.DS_Store
._*
*.empty
*.iml
.idea
.vscode
.contentFlavour
.contentVisibility